@model TheHotelProject2.ViewModel.QuartosViewModel
@{
    ViewBag.Title = "Index";
}


<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddQuarto">Adicionar Quarto</button>
</div>

<div id="AddQuarto" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quartos</h4>
            </div>

            <div class="modal-body">
                Texto do copor da div aqui...

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success">Salvar</button>&nbsp;
                <button type="button" data-dismiss="modal" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>

</div>